<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @trip.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @trip.date %>
</p>
<p><%= @weather['main'] %></p>

<p>
  <strong>Length:</strong>
  <%= @trip.length %>
</p>

<p>
  <strong>Checklist:</strong>
  <%= @trip.checklist_id %>
</p>

<p>
  <strong>Location:</strong>
  <%= @trip.location %>
</p>

<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', trips_path %>
