</style>

<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

<div class="user-show">
  <div class="container">


    <div class="row">
      <div class="col s5">


        <br>

        <h2>Forgot your password?</h2>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

<br>

        <div class="actions">
          <%= f.submit "Send me reset password instructions", class: "waves-effect waves-light btn purple darken-4"  %>
        </div>
        <% end %>

<br>
        <%= render "devise/shared/links" %>




      </div>
    </div>
  </div>
</div>
