<% @user.email %>
<% @user.checklists %>

<style media="screen">
.left-div {
  float: right;
  width: 25%;
  height: 20px;
  margin-right: 8px;
  background-color: white;
}
.right-div {
  margin-left: 108px;
  background-color: white;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.9);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
    border-radius: 5px 5px 0 0;
    width: 100%;
}

.pp{
font-style: italic;
font-size:
}
</style>






<div class="user-show">

<div class="container">


  <div class="left-div">

<div class="card">
  <%= image_tag current_user.avatar.url(:avatar_show) %>
  <div class="containeri">
    <h4><b><%= @user.last_name %>, <%= current_user.first_name %></b></h4>
    <p>Email:<%= @user.email %></p>

  </div>
</div>


  </div>
  <div class="right-div">
<h1> Coming Trips </h1>
<div class="">

<h4> <%= current_user.checklists.last.list_name %>  </h4> 
<% current_user.checklists.last.items.each do |item| %>
<span> <%= item.iname %> <br> </span>
<% end %>
</div>
  <!-- collapsible list -->

  <!-- Modal Trigger -->
<a data-target="modal1" class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Modal Header</h4>
    <p>A bunch of text</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
  </div>
</div>

  <div class="row">
     <div class="col s12 m6">
  <!-- <div id="list" class="">
    <div style="width:40%"> -->
    <h4> TRIPS</h4>
    <ul class="collapsible" data-collapsible="accordion">
      <% current_user.checklists.sample(3).each do |list| %>
      <li>
        <div class="collapsible-header"><i class="fas fa-suitcase icon"></i><%= list.list_name %>, <br> <%= list.destination %> <p class="pp" ><%= list.date %></p> </div>
        <div class="collapsible-body">
          <% list.items.each do |item| %>
          <span> <%= item.iname %> <br> </span>
          <% end %>
      </li>
      <% end %>
    </ul>
  </div>
  </div>
</div>
<!-- end collapsible -->


<!-- Archive Card Venice-->

<div class="row">
   <div class="col s12 m4">
     <div class="">
       <div class="">
         <span class="card-title"><h2>weather forecast</h2></span>
         <img src ="<%= @image_two %>">
       </div>
       <div class="card-action">
         <a href="#">Show</a>
       </div>
     </div>
   </div>


   <div class="col s12 m4 offset-s6">
     <!-- <div class="col s6 offset-s6"><span class="flow-text">6-columns (offset-by-6)</span></div> -->
     <div class="card  purple darken-4">
       <div class="card-content white-text">
         <span class="card-title"><%= @venue_one %></span>
         <img src ="<%= @image_one %>">
       </div>
       <div class="card-action">
         <a href="#">Show</a>
       </div>
     </div>
   </div>


   <div class="col s12 m4">
     <div class="card  purple darken-4">
       <div class="card-content white-text">
         <span class="card-title"><%= @venue_two %></span>
         <img src ="<%= @image_two %>">
       </div>
       <div class="card-action">
         <a href="#">Show</a>
       </div>
     </div>
   </div>


 <!--End Archive Card-->

</div>
 <!-- Archive Card New York-->




  <!--End Archive Card-->

</div>

</div>



</div>





<script type="text/javascript">


var countDownDate = new Date("Mar 16, 2018 08:00:00").getTime();
var x = setInterval(function() {

    var now = new Date().getTime();

    var distance = countDownDate - now;


    var days = Math.floor(distance / (1000 * 60 * 60 * 24));

    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));

    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));

    var seconds = Math.floor((distance % (1000 * 60)) / 1000);


    document.getElementById("demo").innerHTML = days + "days " + hours + "h "
    + minutes + "m " + seconds + "s ";


    if (distance < 0) {
        clearInterval(x);
        document.getElementById("demo").innerHTML = "WE MADE IT!";
    }
}, 1000);



function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}

// When the user clicks anywhere outside of the modal, close it
var modal = document.getElementById('ticketModal');
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}


</script>

<script type="text/javascript">

$(function() {
	$(".card").draggable();
	$(".block").on("click", function() {
		$(".info").toggleClass("active");
	});
});

</script>


<script type="text/javascript">

$(document).ready(function(){
  // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
  $('.modal').modal();
});
</script>

<script type="text/javascript">

$('.modal').modal({
    dismissible: true, // Modal can be dismissed by clicking outside of the modal
    opacity: .5, // Opacity of modal background
    inDuration: 300, // Transition in duration
    outDuration: 200, // Transition out duration
    startingTop: '4%', // Starting top style attribute
    endingTop: '10%', // Ending top style attribute
    ready: function(modal, trigger) { // Callback for Modal open. Modal and trigger parameters available.
      alert("Ready");
      console.log(modal, trigger);
    },
    complete: function() { alert('Closed'); } // Callback for Modal close
  }
);
</script>
