<% @user.email %>
<% @user.checklists %>

<style media="screen">

.collapsible-body > li {
  column-count: 2;
  column-gap: 20px;
}

.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.left-div {
  float: right;
  width: 25%;
  height: 20px;
  margin-right: 8px;
  background-color: white;
}
.right-div {
  margin-left: 108px;
  background-color: white;
}

.card {
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.9);
    transition: 0.3s;
    border-radius: 0px; /* 5px rounded corners */
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
    border-radius: 2px 2px 2px 2px;
    width: 100%;
}

#pp{
  background-color: lightblue;
  height: 110px;
  overflow: auto;
font-style: italic;
}
#time-box {
  left: 0px;
  width: 445px;
  height: 95px;
  border-color: white;
}
</style>






<div class="user-show">

<div class="container">
<div class="row">

  <div class="col s12 m6">
    <% if current_user.checklists.count == 0  %>
      <h2>You haven't taken any trips</h2>
    <% else  %>
      <div id="list" class="">
        <h4><i class="material-icons">filter_drama</i><%= current_user.checklists.last.list_name %></h4> <br>
        <ul class="collapsible" data-collapsible="accordion">
          <li>
            <div class="collapsible-header"><i class="far fa-file"></i>Documents</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="fas fa-suitcase"></i>Basics</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="fas fa-shower"></i> Toiletry</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="fas fa-fire"></i> <%= current_user.checklists.last.list_name %> </div>
            <div class="collapsible-body" id="pp" >
              <% current_user.checklists.last.items.each do |item| %>
              <span><%= item.iname %> <br></span>
              <% end %>
            </div>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
  <div class="col s12 m6">
        <h4><i class="material-icons">filter_drama</i><%= current_user.checklists.last.destination %></h4> <br>
        <div class="card-panel teal"> <% j = '10d'  %>

          <span class="white-text">Temp: <%= @temp.round %></span> <br>
          <span class="white-text">Today's Forecast:  <%= @description %> </span>
        </div>



      <div id="time-box"  class="card  purple darken-4">

        <span><h5> Your Trip Starts In - <h5 id="demo" ></h5></h5></span>
      </div>

  </div>

<br>
<br>
<br>

<div style="height: 300px;">
<br>
<br>
</div>
</div>
<!-- Archive Card Venice-->



<div class="row">
  <div class="col s12 m4 offset-s6">
    <!-- <div class="col s6 offset-s6"><span class="flow-text">6-columns (offset-by-6)</span></div> -->
    <div class="card  purple darken-4">
      <div class="card-content white-text">
        <span class="card-title"><%= @venue_one %></span>
        <img src ="<%= @image_one %>">
      </div>
      <div class="card-action">
        <a href="#">Show</a>
      </div>
    </div>
  </div>


   <div class="col s12 m4 offset-s6">
     <!-- <div class="col s6 offset-s6"><span class="flow-text">6-columns (offset-by-6)</span></div> -->
     <div class="card  purple darken-4">
       <div class="card-content white-text">
         <span class="card-title"><%= @venue_two %></span>
         <img src ="<%= @image_two %>">
       </div>
       <div class="card-action">
         <a href="#">Show</a>
       </div>
     </div>
   </div>


   <div class="col s12 m4">
     <div class="card  purple darken-4">
       <div class="card-content white-text">
         <span class="card-title"><%= @venue_three %></span>
         <img src ="<%= @image_three %>">
       </div>
       <div class="card-action">
         <a href="#">Show</a>
       </div>
     </div>
   </div>


 <!--End Archive Card-->


 <!-- Archive Card New York-->




  <!--End Archive Card-->

</div>

</div>



</div>
</div>

</div>





<script type="text/javascript">


var countDownDate = new Date( `<%= @date %> 08:00:00`).getTime();
var x = setInterval(function() {

    var now = new Date().getTime();

    var distance = countDownDate - now;


    var days = Math.floor(distance / (1000 * 60 * 60 * 24));

    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));

    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));

    var seconds = Math.floor((distance % (1000 * 60)) / 1000);


    document.getElementById("demo").innerHTML = days + "days " + hours + "h ";


    if (distance < 0) {
        clearInterval(x);
        document.getElementById("demo").innerHTML = "WE MADE IT!";
    }
}, 1000);



function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}

// When the user clicks anywhere outside of the modal, close it
var modal = document.getElementById('ticketModal');
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}


</script>

<script type="text/javascript">

$(function() {
$(".card").draggable();
$(".block").on("click", function() {
$(".info").toggleClass("active");
});
});

</script>


<script type="text/javascript">

$(document).ready(function(){
  // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
  $('.modal').modal();
});
</script>

<script type="text/javascript">

$('.modal').modal({
    dismissible: true, // Modal can be dismissed by clicking outside of the modal
    opacity: .5, // Opacity of modal background
    inDuration: 300, // Transition in duration
    outDuration: 200, // Transition out duration
    startingTop: '4%', // Starting top style attribute
    endingTop: '10%', // Ending top style attribute
    ready: function(modal, trigger) { // Callback for Modal open. Modal and trigger parameters available.
      alert("Ready");
      console.log(modal, trigger);
    },
    complete: function() { alert('Closed'); } // Callback for Modal close
  }
);
</script>

<script type="text/JavaScript" src="css3-multi-column.js"></script>
