<p id="notice"><%= notice %></p>
<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

<div class="user-show">
  <div class="container">


<br>
<br>
<div class="row">



  <div class="col s12 m6">
    <div id="list" class="">
      <h4><i class="material-icons">filter_drama</i><%= current_user.checklists.last.list_name %></h4> <br>
      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header"><i class="far fa-file"></i>Documents</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="fas fa-suitcase"></i>Basics</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="fas fa-shower"></i> Toiletry</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="fas fa-fire"></i> </div>
          <div class="collapsible-body" id="pp" >
            <% current_user.checklists.last.items.each do |item| %>
            <span><%= item.iname %> <br></span>
            <% end %>
          </div>
        </li>
      </ul>
    </div>

    <%= link_to 'New Trip', new_checklist_path, class: "waves-effect waves-light btn purple darken-4" %>
  </div>


<div class="col s12 m6">

  <div id="list" class="">
    <div>
      <h4>All Trips</h4> <br>
      <ul class="collapsible" data-collapsible="accordion">
        <% current_user.checklists.each do |list| %>
        <li>
          <div class="collapsible-header"><i class="far fa-file"></i><%=  list.list_name %></div>
          <div class="collapsible-body"> <% list.items.each do |item| %>
            <span> <%= item.iname %> <br></span>
            <% end %>
            <%= link_to 'Show', list, class: "waves-effect waves-light btn purple darken-4" %>
            <%= link_to 'Edit', edit_checklist_path(list), class: "waves-effect waves-light btn purple darken-4" %>
            <%= link_to 'Delete', list, method: :delete, data: { confirm: 'Are you sure?' }, class: "waves-effect waves-light btn purple darken-4" %>
          </div>
          </li>
          <% end %>
  </div>
</div>





  </div>
    <!-- end collapsible -->




<!-- dropdown proper data   -->




  </div>
</div>
