<p id="notice"><%= notice %></p>

<h1>Checklists</h1>

  <ul class="collapsible" data-collapsible="accordion">
    <% current_user.checklists.each do |list| %>
    <li>
      <div class="collapsible-header"><i class="fas fa-suitcase icon"></i><%= list.list_name %>, <%= list.destination %> </div>
      <div class="collapsible-body">
        <% list.items.each do |item| %>
        <span> <%= item.iname %> <br> </span>

        <% end %>
            <%= link_to 'Show', list %>
            <%= link_to 'Edit', edit_checklist_path(list) %>
            <%= link_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?' } %>
          </li>
      </div>
      <% end %>

  </ul>




<%= link_to 'New Checklist', new_checklist_path %>
