<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>


<div class="user-show">
  <% if current_user.checklists.count == 0  %>
  <h2>You haven't taken any trips</h2>
  <% else %>
  <div class="container">
    <p id="notice"><%= notice %></p>


    <br>
    <br>
    <div class="row">



      <div class="col s12 m6">
        <div id="list" class="">
          <h4> Most Recent Trip - </h4> <%= current_user.checklists.last.list_name %> <br>
          <ul class="collapsible" data-collapsible="accordion">
            <li>
              <div class="collapsible-header"><i class="far fa-file"></i>Documents</div>
              <div class="collapsible-body" id="pp" >
                <% @document.each do |item| %>
                <span> <%= item %> <br> </span>
                <% end %>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="fas fa-suitcase"></i>Basics</div>
              <div class="collapsible-body" id="pp" >
                <% @basics.each do |item| %>
                <span> <%= item %> <br> </span>
                <% end %>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="fas fa-shower"></i> Toiletry</div>
              <div class="collapsible-body" id="pp" >
                <% @toiletry.each do |item| %>
                <span> <%= item %> <br> </span>
                <% end %>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="fas fa-fire"></i> Activites </div>
              <div class="collapsible-body" id="pp" >
                <% current_user.checklists.last.items.each do |item| %>
                <span><%= item.iname %> <br></span>
                <% end %>
                <% current_user.checklists.last.useritems.each do |item| %>
                <%= item.name %> <br>
                <% end %>
              </div>
            </li>
          </ul>
        </div>

        <%= link_to 'New Trip', new_checklist_path, class: "waves-effect waves-light btn purple darken-4" %>
      </div>


      <div class=" col s12 m6">
        <h4>All Trips</h4> <br>

        <div id="list" class="">
          <div class="lis" >
            <ul class="collapsible" data-collapsible="accordion">
              <% current_user.checklists.each do |list| %>
              <li>
                <div class="collapsible-header"><i class="fas fa-suitcase"></i>
                  <ul id="menu">
                    <li><%=  list.list_name %></li>
                  </ul>




                </div>
                <div id="pp" class="collapsible-body"> <% list.items.each do |item| %>
                  <span> <%= item.iname %> <br></span>
                  <% end %>
                  <%= link_to 'Show', list, class: "waves-effect waves-light btn purple darken-4" %>
                  <%= link_to 'Edit', edit_checklist_path(list), class: "waves-effect waves-light btn purple darken-4" %>
                  <%= link_to 'Delete', list, method: :delete, data: { confirm: 'Are you sure?' }, class: "waves-effect waves-light btn purple darken-4" %>
                </div>
              </li>
              <% end %>
            </div>
          </div>





        </div>
        <!-- end collapsible -->




        <!-- dropdown proper data   -->




      </div>
      <% end %>
    </div>
