<p id="notice"><%= notice %></p>
<h2>List</h2>
<p>
  <strong>Listc name:</strong>
  <%= @checklist.list_name %>
</p>

<h3>Items</h3>

<% @checklist.items.each do |item| %>
<%= item.iname %> <br>
<% end %>
<% @checklist.useritems.each do |item| %>
<%= item.name %> <br>
<% end %>

<div class="ddd">

<h3>Add Item</h3>

<%= render 'useritems/form' %>

</div>


<%= link_to 'Back', checklists_path %>
